/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-grey: #F4F2F2;
    --color-grey: #E5E5E5;
    --color-dark-grey:#C4C4C4;
    --color-black: #000000;

    /* Font size */
    --font-xlarge: 48px;
    --font-large: 36px;
    --font-medium: 24px;
    --font-regular: 18px;
    --font-small: 14px;
    --font-micro: 12px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Annimation */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
    font-family: 'Domine', serif;
    letter-spacing: 105%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

div {
    margin: 0;
    padding: 0;
}

/* Typography */
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 16px 0;
    text-align: center;
    padding: 10px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

.font__caveat {
    font-family: 'Caveat', cursive;
    font-size: var(--font-xlarge);
    padding-top: 20px;
}

/* Navbar */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0 40px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-dark-grey);
}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-regular);
    height: 100%;
    text-align: center;
    margin: auto;
}

.navbar__menu__item {
    color: var(--color-dark-grey);
    padding: 8px 4px;
    margin: 0 24px;
    cursor: pointer;
}

.navbar__logo img {
    width: 120px;
    transition: all var(--animation-duration) ease-in;
}

.navbar__logo img:hover {
    transform: rotate(-4deg) scale(1.1);
}

.navbar__menu__item:hover,
.navbar__menu__item.active {
    font-weight: var(--weight-bold);
    color: var(--color-black);
    letter-spacing: 4px;
    transition: all var(--animation-duration) ease-in;
}

.spread-underline {
    color: var(--color-black);
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.spread-underline:after {    
    background: none repeat scroll 0 0 transparent;
    top: 50%;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background:var(--color-black);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.spread-underline:hover:after { 
    width: 100%; 
    left: 0; 
}

/* Section Common */
.section {
    max-width: 1200px;
    padding: 40px 0;
    text-align: center;
    margin: auto;
}

.section__title:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 40px;
    height: 1.5px;
    margin-left: -20px;
    margin-top: 50px;
    background-color: var(--color-dark-grey);
}

/* About */
#about {
    margin-top: 100px;
    background-color: var(--color-light-grey);
}
.about__container {
    padding: 40px 60px;
    justify-content: space-between;
    align-items: center;
}

.about__img img {
    width: 300px;
    border-radius: 50%;
    border: 10px solid var(--color-light-grey);
}

.about__desc {
    font-size: var(--font-regular);
    line-height: 140%;
}

.about__desc p {
    padding: 20px 40px;
    height: 100%;
    text-align: left;
    margin: auto;
}

.about__contact {
    margin: 30px 10px;
    font-size: var(--font-medium);
}

.about__contact i {
    transition: all var(--animation-duration) ease-in;
}

.about__contact i:hover {
    transform: rotate(4deg) scale(1.3);
}

.about__contact a {
    margin: 0 40px;
}

.about__edu {
    display: flex;
    padding: 40px 0;
    margin: 0 40px;
}

.about__edu__title {
    font-size: var(--font-medium);
}

.about__edu__item { 
    margin-bottom: 20px;
    text-align: left;
}

.about__edu__item-title {
    font-size: var(--font-regular);
}

.about__edu__item-date {
    font-size: var(--font-small);
    margin-bottom: 4px;
}

/* Skills */

#skills p {
    padding: 20px 80px;
    text-align: center;
    margin: auto;
}

.skillset {
    text-align: center;
    display: flex;
    padding: 40px;
    margin-bottom: 40px;
}

.skillset__left {
    flex-basis: 60%;
    padding: 0 40px;
    border-right: 1px solid var(--color-dark-grey);
}

.skillset__right {
    flex-basis: 40%;
}

.skillset__title {
    font-size: var(--font-regular);
    margin-bottom: 16px;
}

.skill__desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: var(--font-small);
}

.skill {
    margin-bottom: 14px;
}

.skill__bar {
    width: 100%;
    height: 5px;
    background-color: var(--color-grey);
}

.skill__value {
    height:5px;
    background-color: var(--color-dark-grey);
}

.tools__list {
    line-height: 140%;
    font-size: var(--font-small);
}

/* Projects */
#projects {
    background-color: var(--color-grey);
    text-align: center;
}

.project__categories {
    padding: 20px 40px;
}

.category__btn:hover,
.category__btn.active {
    color: var(--color-black);
    letter-spacing: 2px;
    transition: all var(--animation-duration) ease-in;
}

.category__btn.active .category__cnt,
.category__btn:hover .category__cnt {
    opacity: 1;
    top: -10px
}

.category__btn {
    border: none;
    color: var(--color-dark-grey);
    font-size: var(--font-regular);
    background-color: var(--color-grey);
    padding: 0 20px
}

.category__cnt {
    font-size: var(--font-micro);
    display: inline-block;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
    top:-20px;
    left: -2px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects {
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow-x: scroll;
}

.work__projects img {
    width: 250px;
    border-radius: 4px;
}

.project {
    margin-left: 20px;
    position: relative;
}

.project__desc {
    position: absolute;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__desc {
    opacity: 0.7;
    transform: translateY(0px);
}

.project__desc h3, .project__desc span{
    color: var(--color-white);
}

/* Contact */

#contact img {
    width: 300px;
    border-radius: 50%;
    border: 10px solid var(--color-light-grey);
}

.contact__container {
    display: flex;
    justify-content: center;
    padding: 40px 60px;
}

.contact__item {
    padding: 70px 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__item a {
    display: inline-block;
}