/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-grey: #F4F2F2;
    --color-grey: #E5E5E5;
    --color-dark-grey:#C4C4C4;
    --color-black: #000000;

    /* Font size */
    --font-xlarge: 48px;
    --font-large: 36px;
    --font-medium: 24px;
    --font-regular: 18px;
    --font-small: 14px;
    --font-micro: 12px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Annimation */
    --animation-duration: 300ms;
}

/* Universal tags */
* {
    box-sizing: border-box;
    font-family: 'Domine', serif;
    letter-spacing: 105%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

ul, ol, li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

div {
    margin: 0;
    padding: 0;
}

/* Reset CSS */
button,
input,
textarea {
    font-family: 'Domine', serif;
    font-size: var(--font-regular);
    outline: none;
    box-shadow: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}

/* Typography */
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 16px 0;
    text-align: center;
    padding: 10px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

.font__caveat {
    font-family: 'Caveat', cursive;
    font-size: var(--font-xlarge);
    padding-top: 20px;
}

/* Custom Grid System */


/* Navbar */
#navbar {
    position: fixed;   
    width: 100%;
    z-index: 10;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-dark-grey);
    padding: 24px 0;
}

.navbar__container {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-regular);
    height: 100%;
    text-align: center;
    margin: auto;
}

.navbar__menu__item {
    color: var(--color-dark-grey);
    padding: 8px 4px;
    margin: 0 24px;
    cursor: pointer;
}

.navbar__logo img {
    cursor: pointer;
    width: 120px;
    transition: all var(--animation-duration) ease-in;
}

.navbar__logo img:hover {
    transform: rotate(-4deg) scale(1.1);
}

.navbar__menu__item:hover,
.navbar__menu__item.active {
    font-weight: var(--weight-bold);
    color: var(--color-black);
    letter-spacing: 4px;
    transition: all var(--animation-duration) ease-in;
}

.spread-underline {
    color: var(--color-black);
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.spread-underline:after {    
    background: none repeat scroll 0 0 transparent;
    top: 50%;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background:var(--color-black);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.spread-underline:hover:after { 
    width: 100%; 
    left: 0; 
}

/* Toggle button */
.navbar__toggle-btn {
    position: absolute;
    top: 20px;
    right: 24px;
    color: var(--color-black);
    font-size: var(--font-regular);
    display: none;
}

/* Section Common */
.section {
    padding: 20px 0;
    text-align: center;
    margin: auto;
}

.section__title:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 40px;
    height: 1.5px;
    margin-left: -20px;
    margin-top: 50px;
    background-color: var(--color-dark-grey);
}

/* About */
#about {
    padding-top: 110px;
    background-color: var(--color-light-grey);
}
.about__container {
    padding: 60px;
    justify-content: space-between;
    align-items: center;
}

.about__img img {
    width: 280px;
    border-radius: 50%;
    border: 10px solid var(--color-light-grey);
}

.about__desc {
    font-size: var(--font-regular);
    line-height: 140%;
}

.about__desc p {
    padding: 20px 40px;
    height: 100%;
    text-align: left;
    margin: auto;
}

.about__contact {
    margin: 40px 10px;
    font-size: var(--font-medium);
}

.about__contact i {
    transition: all var(--animation-duration) ease-in;
}

.about__contact i:hover {
    transform: rotate(4deg) scale(1.3);
}

.about__contact a {
    margin: 0 40px;
}

.about__edu {
    padding: 40px 0;
    border-top: 1px solid var(--color-dark-grey);
}

.about__edu__title {
    font-size: var(--font-medium);
    margin-bottom: 40px;
}

.about__edu__title span {
    display: inline-block;
}

.about__edu__item { 
    margin-bottom: 20px;
    text-align: left;
}

.about__edu__item-title {
    font-size: var(--font-regular);
}

.about__edu__item-date {
    font-size: var(--font-small);
    margin-bottom: 4px;
}

/* Skills */

#skills {
    padding: 80px 0;
}

#skills p {
    padding: 20px 80px;
    text-align: center;
    margin: auto;
}

.skillset {
    text-align: center;
    display: flex;
    padding: 40px;
    margin-bottom: 40px;
}

.skillset__left {
    flex-basis: 60%;
    padding: 0 40px;
    border-right: 1px solid var(--color-dark-grey);
}

.skillset__right {
    flex-basis: 40%;
}

.skillset__title {
    font-size: var(--font-regular);
    margin-bottom: 16px;
}

.skill__desc {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: var(--font-small);
}

.skill {
    margin-bottom: 14px;
}

.skill__bar {
    width: 100%;
    height: 5px;
    background-color: var(--color-grey);
}

.skill__value {
    height:5px;
    background-color: var(--color-dark-grey);
}

.tools__list {
    line-height: 140%;
    font-size: var(--font-small);
}

/* Projects */
#projects {
    padding-top: 80px;
    background-color: var(--color-grey);
    text-align: center;
}

.project__categories {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__btn:hover,
.category__btn.selected {
    color: var(--color-black);
    letter-spacing: 2px;
    transition: all var(--animation-duration) ease-in;
}

.category__btn.selected .category__cnt,
.category__btn:hover .category__cnt {
    opacity: 1;
    top: -10px
}

.category__btn {
    cursor: pointer;
    border: none;
    color: var(--color-dark-grey);
    font-size: var(--font-regular);
    background-color: var(--color-grey);
    padding: 0 20px
}

.category__cnt {
    font-size: var(--font-micro);
    display: inline-block;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: relative;
    top:-20px;
    left: -2px;
    opacity: 0;
    transition: all var(--animation-duration) ease-out;
}

.work__projects {
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    overflow-x: scroll;
    transition: all var(--animation-duration) ease-in;
}

.work__projects img {
    width: 250px;
    border-radius: 4px;
}

.work__projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}
.project {
    margin-left: 20px;
    position: relative;
}

.project.invisible {
    display: none;
}

.project__desc {
    position: absolute;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__desc {
    opacity: 0.7;
    transform: translateY(0px);
}

.project__desc h3, .project__desc span{
    color: var(--color-white);
}

/* Contact */

#contact  {
    padding-top: 40px;
    text-align: center;
}

#contact i {
    display: inline-block;
    font-size: var(--font-large);
    padding: 40px;
}

#contact i {
    transition: all var(--animation-duration) ease-in;
}

#contact i:hover {
    transform: rotate(-4deg) scale(1.3);
}

.contact__container {
    width: 100%;
    justify-content: space-between;
    text-align: center;
}

/* Footer */
#footer {
    padding-top: 80px;
    text-align: center;
}

.footer__copyright {
    font-size: var(--font-micro);
    text-align: center;
}

.arrow-up {
    position: fixed;
    bottom: 50px;
    right:50px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: var(--color-white);
    background-color: var(--color-dark-grey);
    border-radius: 50%;
    border: none;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all var(--animation-duration) ease-in;
}

.arrow-up.visible {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}


/* For below 768px screen width */

@media screen and (max-width: 768px) {
    h2 {
        font-size: var(--font-regular);
        font-weight: var(--weight-regular);
        color: var(--color-black);
        margin: 16px 0;
        text-align: center;
        padding: 10px 0;
    }
    
    p {
        font-size: var(--font-small);
        font-weight: var(--weight-regular);
        color: var(--color-black);
        margin: 4px 0;
    }
    
    .font__caveat {
        font-family: 'Caveat', cursive;
        font-size: var(--font-medium);
        padding-top: 20px;
    }

    .section {
        padding: 16px 0;
        text-align: center;
        margin: auto;
    }

    #about {
        padding-top: 100px;
    }
    .about__container {
        padding: 16px;
        justify-content: space-between;
        align-items: center;
    }
    
    .about__img img {
        width: 200px;
        border-radius: 50%;
        border: 10px solid var(--color-light-grey);
    }

    .about__desc p {
        padding: 20px 0;
        text-align: center;
    }

    .about__edu__title {
        font-size: var(--font-regular);
    }
    .about__edu__item-major, 
    .about__edu__item-etc,
    .about__edu__item-title  {
        font-size: var(--font-small);
    }
    
    .about__edu__item-date {
        font-size: var(--font-micro);
        margin-bottom: 4px;
    }

    .about__contact {
        margin: 16px 0;
        font-size: var(--font-regular);
    }

    .about__contact a {
        margin: 0 16px;
    }

    #navbar {
        padding: 8px 0;
    }

    .navbar__toggle-btn {
        display: block;
    }
    .navbar__container {
        flex-direction: column;
        justify-content: center;
    }
    .navbar__logo img{
        padding-top: 10px;
        padding-bottom: 6px;
        width: 80px;
    }
    .navbar__menu {
        width: 100%;
        flex-direction: column;
        text-align: center;
        display: none;
    }

    .navbar__container li {
        display: block;
    }

    .navbar__menu.open {
        display: block;
    }

    .about__edu__item {
        text-align: center;
    }

    #skills {
        padding: 16px 0;
    }

    #skills p {
        padding: 20px 0;
    }

    .skillset {
        flex-direction: column;
        padding: 16px;
    }

    .skillset__left {
        padding: 0;
        border-right: none;
    }

    .skillset__title {
        font-size: 16px;
    }

    .project__categories {
        flex-direction: column;
    }
    .project-cate {
        padding: 8px 0;
    }

    .category__btn {
        font-size: var(--font-small);
    }

    .category__cnt {
        font-size: 8px;
        width: 15px;
        height: 15px;
        line-height: 15px;
        top:-10px;
        left: -4px;
    }

    .work__projects img {
        width: 150px;
    }

    #contact i {
        font-size: var(--font-medium);
        padding: 16px;
    }

    .arrow-up {
        bottom: 16px;
        right:16px;
        font-size: 18px;
        width: 30px;
        height: 30px;
    }
}